* {
  --primary-100: #6A00FF;
  --primary-200: #a64aff;
  --primary-300: #ffb1ff;
  --accent-100: #00E5FF;
  --accent-200: #00829b;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #1A1A1A;
  --bg-200: #292929;
  --bg-300: #404040;
}

@media only screen and (max-width: 1130px) {
  .lateral {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: space-evenly;
    padding: 0;
    border-bottom: var(--primary-100) 2px solid;
    border-right: 0;
  }

  .navigation {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .sideContent {
    content-visibility: hidden;
    border: 0;
    max-height: 0px;
    max-width: 0px;
  }

  .lateral a {
    float: left;
  }

  .content {
    margin-left: 0;
  }

  .resumen {
    display: flex;
    flex-direction: column;
  }

  .res-text {
    display: block;
    max-width: 700px;
  }

  .res-video {
    display: block;
    max-height: 320px;
    max-width: 180px;
  }

}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

i {
  margin-right: 10px;
}

.subtitle {
  color: var(--text-100);
  font-family: mukta, sans-serif;
}

.lateral {
  margin: 0;
  padding: 10px;
  width: 200px;
  background-color: var(--bg-200);
  position: fixed;
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr 2fr;
  border-right: var(--primary-100) 2px solid;
}

.sideContent {
  grid-row: 1;
  text-align: center;
  border-bottom: var(--primary-100) 2px solid;
}

.navigation {
  grid-row: 2;
  align-self: baseline;
  width: inherit;
  text-align: start;
  margin: 20px 0 0 0;
}

.navigation a {
  display: block;
  color: var(--text-200);
  padding: 16px;
  text-decoration: none;
}

.navigation a:active {
  background-color: var(--accent-200);
  color: var(--text-100);
}

.navigation a:hover:not(.active) {
  background-color: var(--bg-300);
  color: var(--accent-100);
}

.content {
  margin-left: 240px;
  padding: 10px 16px;
  height: 1fr;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
}

.photo {
  height: 180px;
  width: 180px;
  border: var(--accent-200) 3px solid;
  border-radius: 50%;
  margin: 20px 0px 10px 0px;
}

section {
  padding: 10px;
  border-radius: 1em;
  margin: 10px;
}

/*--------------------------------------------------------------Resumen Section--------------------------------------------------------------------*/
.resumen {
  background-image: linear-gradient(to right, var(--primary-100), var(--primary-200));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  min-width: 210px;
}

.res-text {
  display: inline;
  max-width: auto;
}

.res-video {
  display: inline;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

/*--------------------------------------------------------------Experiencia Section--------------------------------------------------------------------*/
.experiencia {
  background-image: linear-gradient(to right, var(--bg-200), var(--bg-300));
  text-align: center;
}

/*--------------------------------------------------------------Educacion Section--------------------------------------------------------------------*/
.educacion {
  width: inherit;
  padding: 10px;
  gap: 2rem;
}

table {
  border: var(--accent-200) 3px solid;
}

.institucion {
  background-image: linear-gradient(to right, var(--primary-100), var(--primary-200));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  border-radius: 1em;
  margin-bottom: 10px;
  flex-wrap: wrap;
  height: 200px;
  width: 49%;
}


.instituciones {
  display: flex;
  justify-content: space-between;
  flex-basis: 1;
}

.edu {
  text-align: center;
}

.logo {
  max-width: 75%;
  max-height: 75%;
  border: var(--accent-100) 3px solid;
  border-radius: 50%;
}

/*--------------------------------------------------------------Contact Section--------------------------------------------------------------------*/
.contacto {
  background-color: var(--bg-200);
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  align-items: center;
  padding: 25px 10px;
  max-width: 70%;
  margin: auto;
}

.contact-info {
  display: inline;
  max-width: 35%;
}

.contact-form {
  padding: 25px;
  border-radius: 2em;
  background-image: linear-gradient(to right, var(--primary-100), var(--primary-200));
  color: var(--text-200);
  display: grid;
  grid-template-areas:
    "nombre apellido"
    "email email"
    "telefono telefono"
    "mensaje mensaje"
    "enviar enviar";
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  gap: 5px;
}

input {
  max-height: 100px;
  height: 25px;
  border: var(--text-200) 1px solid;
  border-radius: 5pt;
}

textarea {
  height: 80px;
}

.nombre {
  grid-area: nombre;
  padding-right: 5px;
}

.apellido {
  grid-area: apellido;
  padding-left: 5px;
}

.email {
  grid-area: email;
}

.telefono {
  grid-area: telefono;
}

.mensaje {
  grid-area: mensaje;
}

.enviar {
  grid-area: enviar;
  background-color: var(--accent-200);
  padding: 10px;
  color: var(--text-200);
}

.enviar:hover {
  background-color: var(--accent-100);
  color: var(--bg-200);
}

.border {
  border: var(--text-200) 1px solid;
  border-radius: 5pt;
}



.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-200);
  border-top: var(--primary-100) 2px solid;
  margin-left: 220px;
  margin-top: 50px;
  padding: 20px;
}

.links {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links a{
  text-decoration: none;
  color: var(--text-200);
  padding: 5px;
}

.mapa {
  border: var(--text-200) 1px solid;
  border-radius: 5pt;

}
