* {
  --primary-100:#6A00FF;
  --primary-200:#a64aff;
  --primary-300:#ffb1ff;
  --accent-100:#00E5FF;
  --accent-200:#00829b;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#1A1A1A;
  --bg-200:#292929;
  --bg-300:#404040;
}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

i {
 margin-right: 10px;
}


h1,
h2 {
  color: var(--text-100);
  font-family: mukta, sans-serif;
}

header {
  margin: 0;
  padding: 10px;
  width: 200px;
  background-color: var(--bg-200);
  position: fixed;
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr 2fr; 
  border-right: var(--primary-100) 2px solid;
}

.sideContent {
  grid-row: 1;
  text-align: center;
  border-bottom: var(--primary-100) 2px solid;
}

#navigation {
  grid-row: 2;
  align-self: baseline;
  width: inherit;
  text-align: start;
  margin: 20px 0 0 0;
}

#navigation a {
  display: block;
  color: var(--text-200);
  padding: 16px;
  text-decoration: none;
}

#navigation a.active {
  background-color: var(--primary-200);
  color: var(--text-100);
}

#navigation a:hover:not(.active) {
  background-color: var(--bg-300);
  color: var(--text-100);
}

#content {
  margin-left: 240px;
  padding: 10px 16px;
  height: 1fr;
}

@media screen and (max-width: 700px) {
  #navigation {
    width: 100%;
    height: auto;
    position: relative;
  }

  #navigation a {
    float: left;
  }

  main {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  #navigation a {
    text-align: center;
    float: none;
  }
}

#nav-item {
  display: inline;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
}

#photo {
  height: 21vh;
  width: 21vh;
  border: var(--accent-200) 3px solid;
  border-radius: 50%;
  margin: 20px 0px 10px 0px;
}

section {
  padding: 10px;
  background-color: var(--bg-200);
  border-radius: 1em;
  margin: 10px;
}

#resumen{
  background-image: linear-gradient(to right, var(--primary-100), var(--primary-200));
}

#experiencia{
  background-image: linear-gradient(to right, var(--bg-200), var(--bg-300));
}
